#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wall -pedantic
export DEB_CXXFLAGS_MAINT_APPEND = -Wall -pedantic
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DDISABLE_ARCH_NATIVE=ON -DGTEST_SRC_DIR=/usr/src/googletest

override_dh_auto_test:
	dh_auto_test -- xtest

else

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DDISABLE_ARCH_NATIVE=ON

endif

override_dh_auto_build:
	dh_auto_build
	make -C docs html
